<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
        <title>Login</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">


    </head>
    <body>
        <div class="main-wrapper">
			<div class="account-page">
                <div class="container">{% load staticfiles %}
					<h3 class="account-title">HRMS Login</h3>
					<div class="account-box">
						<div class="account-wrapper">
							<div class="account-logo">
								<a href="index.html"><img src="{% static 'assets/img/logo.png' %}" width="50%" alt="ZRMindzGlobal Technologies"></a>
							</div>
                {% block content %}
                {% endblock %}
                        </div>
					</div>
				</div>
            </div>
        </div>
    <div class="sidebar-overlay" data-reff="#sidebar"></div>
        <script type="text/javascript" src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
    </body>
</html>